---
permalink: printed_cv.html
title: Resume
layout: null
---

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MMBW638');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#F59E0B">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#F59E0B">
    <link rel="manifest" href="/manifest.json">
    <title><%= title %></title>
    <meta
            name="description"
            content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta name="author" content="<%= site.author %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta
            property="og:description"
            content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta property="og:locale" content="<%= site.locale %>" />
    <meta property="og:site_name" content="<%= site.site_name %>" />
    <% if (locals.tags == "posts") { %>
        <meta property="og:type" content="article" />
        <meta property="article:published_time" content="<%= date.toISOString() %>" />
        <script type="application/ld+json">
      {
        "description": "<%= (!!locals.description) ? description : site.description %>",
        "author": { "@type": "Person", "name": "<%= site.author %>" },
        "@type": "BlogPosting",
        "url": "<%= `${site.url}${page.url}` %>",
        "publisher": {
          "@type": "Organization",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= `${site.url}/assets/images/portrait_small.jpg` %>"
          },
          "name": "<%= site.author %>"
        },
        "headline": "<%= title %>",
        "datePublished": "<%= date.toISOString() %>",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= `${site.url}${page.url}` %>"
        },
        "@context": "http://schema.org"
      }
    </script>
    <% } %><%- include('./_includes/layouts/webpack.ejs') %> <% if (page.url == "/") { %>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on('init', (user) => {
              if (!user) {
                window.netlifyIdentity.on('login', () => {
                  document.location.href = '/admin/';
                });
              }
            });
          }
        </script>
    <% } %>
</head>

<body class="antialiased w-full text-gray-700  content-bg">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMBW638"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<script>
  $(function (){
    // binding an anonymous function to handle the change event:
    $('#privacy').on('click', function () {
      if ($(this).is(':checked')) {
        $('#submit').prop('disabled', false);
      } else {
        $('#submit').prop('disabled', true);
      }
    });

    $('#showContactDetails').on('click', function () {
      $('#contactDetailsHolder').html(atob('PGEgaHJlZj0ibWFpbHRvOmluZm9Ac3ppbHZhaS5odSI+aW5mb0BzemlsdmFpLmh1PC9hPjxici8+PGEgaHJlZj0idGVsOiszNjcwNDMzNzAwMCI+KzM2IDcwIDQzMyA3MDAwPC9hPg=='));
    });
  })
</script>
<div class="page">
    <style>
        @page {
            margin: 1.5cm;
        }
    </style>
    <div class="text-xs flex flex-row flex-wrap print-preview">
        <div class="w-1/3 p-5 pt-0">
            <img src="/assets/images/portrait_cropped.jpg" alt="Portrait" class="rounded-full max-w-full mx-auto mb-2 border-2 object-cover" style="object-position: 20% 15%">
        </div>
        <div class="w-2/3 border-l border-yellow-500 p-5 pt-0">
            <h1 class="mb-2 text-2xl">
                Zoltán Szilvai
            </h1>
            <div class="text-justify justify-between flex flex-row flex-wrap mb-2">
                <div>
                    Tech Lead
                </div>
                <div>
                    /
                </div>
                <div>
                    Full Stack Developer
                </div>
                <div>
                    /
                </div>
                <div>
                    Entrepreneur
                </div>
            </div>
            <p class="text-justify mb-2">
                IT Professional with eight years of experience in software development, IT, and company management. Able to understand the business value and the technical aspects of the developed products. Strong ownership mentality, deeply cares about the quality of the work and the working environment.            </p>
            <div class="text-justify justify-between flex flex-row flex-wrap">
                <a href="https://www.linkedin.com/in/zoltanszilvai/" target="_blank">
                    <svg class="h-3 inline" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M449.446,0c34.525,0 62.554,28.03 62.554,62.554l0,386.892c0,34.524 -28.03,62.554 -62.554,62.554l-386.892,0c-34.524,0 -62.554,-28.03 -62.554,-62.554l0,-386.892c0,-34.524 28.029,-62.554 62.554,-62.554l386.892,0Zm-288.985,423.278l0,-225.717l-75.04,0l0,225.717l75.04,0Zm270.539,0l0,-129.439c0,-69.333 -37.018,-101.586 -86.381,-101.586c-39.804,0 -57.634,21.891 -67.617,37.266l0,-31.958l-75.021,0c0.995,21.181 0,225.717 0,225.717l75.02,0l0,-126.056c0,-6.748 0.486,-13.492 2.474,-18.315c5.414,-13.475 17.767,-27.434 38.494,-27.434c27.135,0 38.007,20.707 38.007,51.037l0,120.768l75.024,0Zm-307.552,-334.556c-25.674,0 -42.448,16.879 -42.448,39.002c0,21.658 16.264,39.002 41.455,39.002l0.484,0c26.165,0 42.452,-17.344 42.452,-39.002c-0.485,-22.092 -16.241,-38.954 -41.943,-39.002Z"/></svg>
                    linkedin.com/in/zoltanszilvai
                </a>
                <a href="mailto:<%=cv.contacts.email%>" class="inline" target="_blank">
                    <svg class="h-3 inline" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve"><path d="M479.574,78.191H10.425c-0.071,0-0.141,0.007-0.211,0.008l0.001,0.003C4.556,78.315,0,82.925,0,88.617v312.766 c0,5.762,4.669,10.426,10.425,10.426h469.149c5.758,0,10.426-4.664,10.426-10.426V88.617C490,82.854,485.332,78.191,479.574,78.191z M454.407,99.043l-138.581,138.58c-0.002,0.002-0.004,0.003-0.006,0.005L245,308.449l-70.82-70.821 c-0.004-0.004-0.008-0.007-0.013-0.012L35.594,99.043H454.407z M20.851,113.784l131.215,131.215L20.851,376.215V113.784z M35.594,390.957l131.215-131.216l70.821,70.821c3.629,3.629,9.303,5.439,14.743,0l70.82-70.82l131.215,131.215H35.594z M469.149,376.213L337.935,244.999l131.214-131.214V376.213z"/> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g></svg>
                    <%=cv.contacts.email%>
                </a>
            </div>
            <div class="text-justify justify-between flex flex-row flex-wrap mb-2">
                <a href="tel:<%=cv.contacts.phone%>" class="inline" target="_blank">
                    <svg class="h-3 inline" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 202.592 202.592" style="enable-background:new 0 0 202.592 202.592;" xml:space="preserve"><g> <g> <path style="fill:#010002;" d="M198.048,160.105l-31.286-31.29c-6.231-6.206-16.552-6.016-23.001,0.433l-15.761,15.761 c-0.995-0.551-2.026-1.124-3.11-1.732c-9.953-5.515-23.577-13.074-37.914-27.421C72.599,101.48,65.03,87.834,59.5,77.874 c-0.587-1.056-1.145-2.072-1.696-3.038l10.579-10.565l5.2-5.207c6.46-6.46,6.639-16.778,0.419-23.001L42.715,4.769 c-6.216-6.216-16.541-6.027-23.001,0.433l-8.818,8.868l0.243,0.24c-2.956,3.772-5.429,8.124-7.265,12.816 c-1.696,4.466-2.752,8.729-3.235,12.998c-4.13,34.25,11.52,65.55,53.994,108.028c58.711,58.707,106.027,54.273,108.067,54.055 c4.449-0.53,8.707-1.593,13.038-3.275c4.652-1.818,9.001-4.284,12.769-7.233l0.193,0.168l8.933-8.747 C204.079,176.661,204.265,166.343,198.048,160.105z M190.683,176.164l-3.937,3.93l-1.568,1.507 c-2.469,2.387-6.743,5.74-12.984,8.181c-3.543,1.364-7.036,2.24-10.59,2.663c-0.447,0.043-44.95,3.84-100.029-51.235 C14.743,94.38,7.238,67.395,10.384,41.259c0.394-3.464,1.263-6.95,2.652-10.593c2.462-6.277,5.812-10.547,8.181-13.02l5.443-5.497 c2.623-2.63,6.714-2.831,9.112-0.433l31.286,31.286c2.394,2.401,2.205,6.492-0.422,9.13L45.507,73.24l1.95,3.282 c1.084,1.829,2.23,3.879,3.454,6.106c5.812,10.482,13.764,24.83,29.121,40.173c15.317,15.325,29.644,23.27,40.094,29.067 c2.258,1.249,4.32,2.398,6.17,3.5l3.289,1.95l21.115-21.122c2.634-2.623,6.739-2.817,9.137-0.426l31.272,31.279 C193.5,169.446,193.31,173.537,190.683,176.164z"/> </g></g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g></svg>
                    <%=cv.contacts.phone%>
                </a>
                <a href="https://szilvai.hu/" class="inline" target="_blank">
                    <svg class="h-3 inline" xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M6209 12795 c-3 -2 -81 -9 -174 -15 -919 -58 -1720 -274 -2525 -681 -596 -301 -1098 -662 -1584 -1139 -403 -396 -726 -805 -1022 -1295 -105 -175 -325 -613 -406 -810 -256 -623 -409 -1248 -463 -1895 -8 -102 -20 -239 -25 -305 -13 -150 -13 -378 -1 -498 6 -51 15 -164 21 -252 96 -1348 649 -2669 1554 -3705 1101 -1261 2660 -2045 4316 -2170 80 -6 198 -15 262 -20 149 -13 364 -13 481 -1 51 6 164 15 252 21 142 10 323 30 425 45 256 40 454 81 688 140 1401 360 2656 1208 3529 2385 628 848 1038 1842 1188 2882 13 95 31 259 40 363 8 105 20 240 25 301 13 140 13 375 0 501 -5 54 -14 166 -20 248 -65 904 -349 1843 -798 2635 -308 544 -656 997 -1103 1435 -489 479 -1003 847 -1612 1151 -743 373 -1547 596 -2357 654 -85 6 -199 15 -253 20 -98 10 -430 14 -438 5z m717 -812 c625 -662 1110 -1320 1490 -2020 141 -260 344 -689 344 -726 0 -11 -24 -23 -82 -41 -606 -182 -1189 -286 -1818 -325 -87 -5 -139 -5 -147 2 -10 7 -13 349 -13 1647 0 900 3 1640 7 1643 20 21 57 -9 219 -180z m-832 141 c3 -9 6 -741 6 -1629 0 -1278 -3 -1615 -12 -1622 -31 -24 -612 31 -979 92 -363 61 -984 212 -1004 245 -3 5 29 87 71 182 353 797 834 1546 1456 2268 149 172 435 480 447 480 5 0 12 -7 15 -16z m-954 -95 c0 -6 -33 -50 -73 -97 -623 -737 -1165 -1613 -1507 -2434 -17 -43 -36 -80 -41 -83 -26 -17 -690 297 -980 463 -186 107 -428 257 -471 293 l-31 25 60 70 c33 38 125 134 204 214 728 733 1648 1262 2644 1520 158 41 195 47 195 29z m2756 -40 c868 -237 1637 -647 2309 -1233 151 -131 377 -353 484 -475 l74 -85 -31 -25 c-43 -36 -284 -186 -471 -293 -270 -155 -880 -447 -912 -436 -6 2 -48 87 -93 188 -350 785 -873 1608 -1443 2272 -75 87 -99 128 -75 128 5 0 76 -18 158 -41z m-6037 -2408 c427 -272 867 -502 1306 -683 66 -28 126 -55 132 -62 10 -9 3 -44 -33 -161 -179 -596 -286 -1192 -324 -1804 -6 -107 -13 -157 -22 -162 -7 -5 -522 -9 -1145 -9 -989 0 -1133 2 -1140 15 -17 30 19 384 67 670 92 538 263 1067 505 1560 154 312 421 755 457 755 6 0 94 -53 197 -119z m9368 6 c442 -665 745 -1435 877 -2227 45 -268 79 -617 63 -645 -7 -13 -146 -15 -1101 -15 -863 0 -1096 3 -1103 13 -6 6 -15 94 -22 194 -38 597 -152 1203 -337 1802 -37 117 -43 146 -32 156 7 6 85 42 173 80 417 178 855 414 1257 675 68 44 130 79 138 78 8 -2 47 -52 87 -111z m-2238 -955 c37 -68 169 -567 226 -847 76 -383 149 -1028 121 -1074 -11 -16 -2607 -16 -2624 1 -18 18 -17 1521 1 1535 6 6 73 13 147 17 620 30 1343 156 1950 340 170 52 167 51 179 28z m-4937 -46 c609 -178 1285 -293 1888 -322 74 -4 141 -11 148 -17 17 -14 18 -1517 0 -1535 -15 -15 -2514 -17 -2537 -3 -13 8 -13 33 -2 178 37 517 123 1006 262 1496 57 198 73 247 84 247 2 0 73 -20 157 -44z m-1133 -2495 c10 -6 16 -48 22 -147 42 -689 181 -1398 399 -2039 24 -71 28 -92 18 -101 -7 -7 -69 -35 -138 -62 -415 -166 -869 -399 -1304 -670 l-169 -106 -24 30 c-13 16 -75 106 -137 199 -526 788 -843 1670 -940 2615 -18 172 -22 263 -12 278 9 15 2263 17 2285 3z m3169 -3 c9 -9 12 -213 12 -858 0 -465 -4 -850 -8 -856 -4 -8 -74 -16 -187 -23 -630 -40 -1172 -131 -1778 -298 -114 -32 -171 -43 -178 -36 -13 13 -77 205 -129 383 -144 498 -233 1001 -271 1519 -10 137 -9 165 2 172 23 14 2523 11 2537 -3z m3249 1 c11 -11 11 -20 -8 -264 -41 -544 -156 -1115 -335 -1667 -30 -92 -59 -170 -64 -173 -5 -3 -62 11 -126 30 -589 179 -1244 294 -1909 336 -113 7 -183 15 -187 23 -4 6 -8 391 -8 857 0 644 3 848 12 857 17 17 2608 18 2625 1z m2826 -111 c-1 -65 -9 -180 -18 -255 -108 -901 -418 -1753 -910 -2498 -136 -206 -175 -257 -192 -251 -9 4 -75 44 -147 90 -386 246 -861 491 -1318 680 -38 16 -68 31 -68 35 0 4 16 54 35 112 220 652 368 1408 401 2049 3 74 11 141 17 148 7 9 236 12 1106 10 l1096 -3 -2 -117z m-6069 -2244 c12 -30 7 -3042 -5 -3050 -14 -8 -83 59 -275 268 -650 711 -1186 1500 -1554 2288 -56 120 -79 179 -73 189 10 16 41 26 253 80 220 57 447 105 655 140 267 45 447 66 800 94 122 10 193 7 199 -9z m1039 -9 c393 -38 764 -101 1148 -195 234 -58 410 -111 416 -126 5 -15 -172 -383 -284 -589 -275 -505 -642 -1040 -1031 -1505 -170 -202 -396 -451 -525 -578 -104 -102 -118 -112 -136 -102 l-21 11 0 1539 c0 846 3 1546 7 1556 6 15 19 16 142 10 75 -4 203 -14 284 -21z m-3483 -612 c29 -65 104 -219 166 -343 339 -676 741 -1277 1307 -1953 21 -26 36 -50 33 -56 -7 -11 -83 5 -303 65 -887 242 -1734 719 -2414 1360 -152 144 -289 287 -289 302 0 42 680 422 1045 585 166 74 370 156 386 157 11 0 33 -38 69 -117z m5827 15 c310 -133 675 -321 968 -498 154 -93 205 -128 205 -142 0 -27 -335 -353 -535 -521 -469 -393 -984 -702 -1555 -934 -276 -112 -789 -268 -810 -247 -6 6 13 35 46 74 580 677 1076 1453 1447 2263 21 46 42 77 51 77 8 0 90 -32 183 -72z"/>
                        </g>
                    </svg>
                    <%=cv.contacts.web%>
                </a>
            </div>
        </div>
        <div class="w-1/3 border-t border-yellow-500">
            <%-include('./_includes/cv-items/skills.ejs')%>
        </div>
        <div class="w-2/3 border-t border-yellow-500">
            <%-include('./_includes/cv-items/timeline')%>
        </div>
    </div>
</div>
</body>
</html>

