---
title: Skills
permalink: skills.html
---
<%
    getTag = function(item){
      var skills = cv.skills;
      skills.find(x=>x.items)
    }
%>
<div class="flex flex-row flex-wrap w-full justify-center">
    <div class="w-full md:w-1/2 p-2 print-preview-full ">
        <h3>Skills</h3>
        <small class="italic">
            Although I work with a lot of different technologies, I never lose my lose focus a.
        </small>
        <%for(skill of cv.skills) {%>
        <ul class="mt-5">
            <li class="mb-5">
                <%=skill.name%>
                <div class="flex flex-wrap space-x-2 items-end">
                    <%for(item of skill.items){%>
                  <span class="rounded-full
                  <%=item.text || (item.color ? 'text-gray-100' : 'text-gray-600')%>
                  font-semibold
                  border
                  border-solid
                  border-gray-300
                  text-sm
                  flex
                  align-center
                  transition
                  duration-300
                  ease
                  mt-2
                  w-max" style="background-color: <%=item.color%>; -webkit-print-color-adjust: economy">
                    <img class="rounded-full w-9 h-9 max-w-none print-preview-hide" alt="A"
                         src="<%=item.icon%>" />
                    <span class="flex items-center px-3 py-2 print-preview-chip">
                      <%=item.name%>
                    </span>
<!--                    <button class="bg-transparent hover focus:outline-none">-->
<!--                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"-->
<!--                           class="w-3 mr-4" role="img" xmlns="http://www.w3.org/2000/svg"-->
<!--                           viewBox="0 0 352 512">-->
<!--                        <path fill="currentColor"-->
<!--                              d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">-->
<!--                        </path>-->
<!--                      </svg>-->
<!--                    </button>-->
                  </span>
                        <%}%>
                </div>
            </li>
        </ul>
        <%}%>
    </div>
    <div class="w-full md:w-1/2 p-2 print-preview-full">
        <h3>Languages:</h3>
        <ul class="text-gray-900">
            <%for (language of cv.languages) {%>
            <li>
                <div class="flex flex-row flex-wrap items-center mt-2">
                    <div class="w-1/5  print-preview-full">
                        <%=language.name%>
                    </div>
                    <div class="w-4/5 print-preview-full">
                        <div class="w-full bg-transparent">
                            <div class="print-preview-lanuage-bar
                                        bg-yellow-500
                                        text-sm
                                        font-semibold
                                        text-gray-700
                                        flex
                                        items-center
                                        align-center
                                        justify-center
                                        p-0.5
                                        leading-none
                                        rounded-full" style="width: <%=language.percentage%>%">
                                <%=language.level%>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <%}%>
        </ul>
        <h2 class="pt-3">
            Awards:
            <span class="rounded-full
            text-gray-500
            bg-gray-200
            font-semibold
            text-sm
            border
            border-solid
            border-gray-300
            flex
            align-center
            transition
            duration-300
            ease w-max">
                <img class="rounded-full w-9 h-9 max-w-none" alt="A"
                     src="/assets/icons/oitm.png" />
                <span class="flex items-center px-3 py-2">
                  V. Országos IT Megmérettetés - Angular I. place
                </span>
          </span>
        </h2>
    </div>
</div>
